// .logo ====================================================================================================
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 100%;
  max-width: 198px;

  @include media-breakpoint-down(xl) {
    max-width: 140px;
  }

  // @include media-breakpoint-down(lg) {
  //   max-width: 170px;
  // }
  // @include media-breakpoint-down(md) {
  //   max-width: 100px;
  // }

  img {
    // width: 100%;
    height: auto;
  }
}
