.news {
    padding-top: 33px;
    background-color: $color-light;
    @include media-breakpoint-down(sm) {
        padding: 0px 0 127px;
    }
    .section__left {
        padding-left: 4%;
        @include media-breakpoint-down(xl) {
            position: absolute;
            bottom: -49px;
            left: 0;
            // padding: 0 15px;
            padding: 0;
        }
        
    }
    &__item {
        padding-top: 100px;
        overflow: hidden;
        position: relative;
        height: 100%;
        .slider-wrapper {
            display: flex;
        }
        @include media-breakpoint-down(lg) {
            padding-top: 0;
        }
    }
    &__top {
        position: relative;
        padding-top: 20px;
        border-top: $borderGray;
    }
    p {
        padding: 26px 0 18px;
    }
    .news-dots-inner {
        display: none;
        @include media-breakpoint-down(lg) {
            display: flex;
        }
        
    }
    .news-btn-dom {
        @include media-breakpoint-down(lg) {
            display: none;
        }
    }
    &__btn-block {
        display: none;
        @include media-breakpoint-down(lg) {
            padding-top: 20px;
            display: flex;
            align-items: center;
            order: 4;
            gap: 20px;
        }
    }
    ul li {
        width: 100%;
        padding: 0;
      }

    &__main p {
        @include fontCompressor(14px, 500, 14px, 0.2px);
        color: $colorDarkGrey;
        @include media-breakpoint-down(lg) {
            @include fontCompressor(13px, 500, 13px, 0.2px);
        }
    }
    h3 {
        @include fontCompressor(20px, 500, 26px, 0.2px);
        color: $color-black;
        @include media-breakpoint-down(lg) {
            order: 1;
            @include fontCompressor(24px, 500, 26px, 0.2px);
            padding-bottom: 20px;
        }
    }
    li {
        width: min-content;
    }
    &__gold {
        color: $colorOrange;
    }
    button {
        // display: none;
        @include media-breakpoint-down(lg) {
            display: block;
        }
    }
    @include slider-owl;
    img {
        max-height: 500px;
        @include media-breakpoint-down(lg) {
            max-height: 255px;
            order:2;
        }
    }
}