.sheme-item {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	flex-direction: column;

	@include media-breakpoint-down(md) {
		flex-direction: row;
		align-items: center;
	}

	&__icon {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		width: 76px;
		height: 76px;
		margin-top: 5px;
		color: $color-second-default;
		background-color: $color-light;
		border-radius: $radius;

		@include media-breakpoint-down(xl) {
			margin-bottom: 21px;
		}

		@include media-breakpoint-down(lg) {
			width: 65px;
			height: 65px;
			margin-bottom: 21px;
		}

		@include media-breakpoint-down(md) {
			width: 55px;
			height: 55px;
			margin-bottom: 5px;
		}

		.icon {
			display: flex;
			width: 44px;
			height: 44px;
			fill: none;
			border: 0;
			stroke: $color-second-default;
			stroke-width: 2px;

			@include media-breakpoint-down(lg) {
				width: 24px;
				height: 24px;
			}

			@include media-breakpoint-down(md) {
				width: 20px;
				height: 20px;
			}
		}
	}

	// .features-item__title
	&__title {
		@include title-5;
		margin-bottom: 16px;

		@include media-breakpoint-down(md) {
			margin-bottom: 0;
			margin-left: 15px;
		}
	}

	&__content {
		margin-top: 25px;

		@include media-breakpoint-down(xl) {
			margin-top: 25px;
		}

		@include media-breakpoint-down(lg) {

		}

		@include media-breakpoint-down(md) {
			margin-top: 0;
		}
	}
}