.sidebar {
	position: fixed;
	top: 0;
	height: 100%;
	display: block;
	left: 0;
	overflow: auto;
	width: 330px;
	background-color: $colorBgHeader;
	box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
	transition: 0.5s;
	overflow-x: hidden;
	z-index: 9999;

	img {
		height: 20px;
	}

	@include media-breakpoint-down(md) {
		width: 100%;
	}

	&-wrap {
		padding-bottom: 40px;
		height: 100%;
	}

	&-top {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin: 0;
		padding: 0;


		&__close {
			padding: 12px 20px;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			a#closeSidebar {
				display: block;
				padding: 4px 12px;
				background-color: $color-light;
				color: $color-dark;
				width: 42px;
				height: 26px;
				border-radius: 50px;

				svg {
					@include svg-converter($color-black);
				}

				.icon {
					width: 18px;
					height: 18px;
					transition: transform .4s;
				}

				&:hover {
					.icon {
						transform: rotate(90deg);
					}
				}
			}
		}

	}

	#mobileNav {
		width: 100%;
		display: flex;
		padding: 0;
		margin: 0 0 0 0;

		.menu {
			width: 100%;
			display: flex;
			padding: 0 20px;
			margin: 0 0 0 0;
			list-style: none;
			flex-direction: column;


			&__item {
				position: relative;
				display: flex;
				align-items: center;
				width: 100%;
				border-bottom: none;
				margin: 0 !important;

				a {
					display: block;
					width: 100%;
					color: $color-black;
					padding: 16px 0;
					@include fontCompressor(14px, 600, 20px, 0.028px);
					text-transform: uppercase;
					transition: all .4s;
					border-bottom: 1px solid rgba(168, 184, 208, 0.50);
					// text-align: center;

					&:hover {
						color: $color-light;
						background-color: $color-second-default;
					}
				}
				&.menu__item_active a {
					color: $colorOrange;
				}
				svg {
					@include svg-converter($color-black);
				}

				.icon {
					position: absolute;
					right: 0;
                    width: 18px;
					height: 18px;
                }

				&:first-child {
					a {
						border-top: 1px solid rgba(168, 184, 208, 0.50);
					}
				}
			}

			.active {
				background-color: $color-second-default;

				a {
					color: $color-light;
					&::before {
						display: none;
					}
				}
			}
		}
	}

	&-cont {
		margin-top: auto;
		display: flex;
		flex-direction: column;
		padding-bottom: 30px;

		@include media-breakpoint-down(md) {
			align-items: center;
		}

		&__phone {
			display: inline-flex;

			a {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				color: $color-light;
				font-size: 18px;
				font-family: $font-primary;
				font-weight: 600;

				.icon {
					margin-right: 5px;
					display: inline-flex;
				}

				span {
					display: inline-flex;
				}
			}
		}
	}
}

.sidebar-close {
	left: -330px;
	@include media-breakpoint-down(md) {
		left: -100%;
	}
}

.sb-menu {
	display: flex;
	width: 100%;
}

.noscroll {
	position: fixed;
	overflow: hidden;
	width: 100%;
}
