extends layouts/_default

block vars
  - let pageTitle = "Установка ГБО";
  - let currentPage = "installation";

block content

  .site-pages
    .container
        .row.site-pages__wrapper
            .col-12
            h1.col-12.page-top__title.page-title.offset-xl-1  Установка ГБО
                .site-pages__btn-dom
            .slider.site-pages__slider.col-12
                ul.site__list.col-12.d-flex.slider-wrapper
                    li.col-1.action
                        a.site__link(href="#gbo") Установка ГБО
                    li.col-1
                        a(href="#") Обслуживание и ремонт
                    li.col-1
                        a(href="#") Регистрация
                    li.col-1
                        a(href="#") Демонтаж
                    li.col-1
                        a.site__link(href="#calculator") Калькулятор окупаемости
    +position-background("pattern-page", 'icon-background')

  .description.description-gbo
    .container.d-flex.flex-column
        .description-gbo__top
            .row.description-gbo__wrapper.description-gbo__wrapper--padding
                .col-lg-12.col-xl-12.d-flex
                    .section-title Собственный центр ГБО
            .row.description-gbo__group.d-flex.justify-content-between
                img.col-12.col-xl-6.col-lg-12(src="img/services-preview.jpg", alt="Перевод авто на газ")
                .description-gbo__right.description-gbo__instal.col-12.col-xl-5.col-lg-12.d-flex.flex-column.align-items-start
                    .col-12.col-xl-10.p-0
                        h3 У нас свой собственный центр по переводу автомобилей на газ. Установку производят только высококвалифицированные сертифицированные специалисты. Наши специалисты сертифицированы в Lovato и Digitronic.
                        p В нашем центре Вы можете установить ГБО, пройти необходимое ТО, произвести диагностику, устранить проблемы. На все работы мы даём официальную гарантию. Мы специализиуемся на установке оборудования следующих производителей: Lovato, Digitronic, Paletron, Alaska.
                        button Записаться
  section.services-preview.services-preview--gbo#gbo
      .container
        .services-preview__top
            .row
                .col-12.d-flex.align-items-center.services-preview__paddding
                    .col-6.d-flex.p-0
                        h2.section-title.section__title установка  ГБО
                    .description-gbo__block-btn.block-btn-installation.col-6.d-flex.section__left.p-0
                        .gbo-btn-dom.d-flex-gap          
                        .gbo-dots-inner.slider-dots

                .col-12.slider.description-gbo__item
                            ul.slider-wrapper.justify-content-between 
                                li.col-xl-12.col-lg-6.hero-slider.d-flex 
                                    img(src="img/gbo.jpg", alt="Фото автомобиля")
                                li.col-xl-12.col-lg-6.hero-slider.d-flex 
                                    img(src="img/gbo.jpg", alt="Фото автомобиля")
                                li.col-xl-12.col-lg-6.hero-slider.d-flex 
                                    img(src="img/gbo.jpg", alt="Фото автомобиля")
                                li.col-xl-12.col-lg-6.hero-slider.d-flex 
                                    img(src="img/gbo.jpg", alt="Фото автомобиля")
                                li.col-xl-12.col-lg-6.hero-slider.d-flex 
                                    img(src="img/gbo.jpg", alt="Фото автомобиля")

  section.calculator.section.calculator--gbo#calculator
        .container
            .section__top.calculator__top--gbo
                .row
                    .col-12.d-flex.align-items-center
                        h2.section-title.section__title Калькулятор окупаемости
                    //- .col-12.col-lg-9.col-xl-6
                    //-     p.section-subtext.section__subtext Узнайте, сколько вы будете экономить на топливе после установки ГБО в РОСГАЗ
            .calculator-form
                .row
                    .col-12.col-lg-6.col-xl-6
                        label.form-label
                            span Бензин для заправки
                        select.form-select
                            option(value='1') АИ-95
                            option(value='2') АИ-92

                        label.form-label
                            span Количество автомобилей
                        select.form-select
                            option(value='1') 1
                            option(value='2') 2
                            option(value='3') 3
                            option(value='4') 4
                            option(value='5') 5
                            option(value='6') 6
                            option(value='7') 7
                            option(value='8') 8
                            option(value='9') 9
                            option(value='10') 10

                        label.form-label
                            span Расход топлива на 100 км (л)
                        .from-slider.from-slider-green
                            input.from-slider__input(type='text' value="12")
                            input.form-slider__range(type='range' step='1' min='7' max='35' value='12')
                        label.form-label
                            span Пробег в год (км)
                        .from-slider.from-slider-green
                            input.from-slider__input(type='text' value="40000")
                            input.form-slider__range(type='range' step='10000' min='20000' max='100000' value='40000')

                    .col-12.col-xl-5.col-lg-6.offset-xl-1
                        .calculator-form__box
                            .calculator-form__group
                                p Экономия в год <span class="number"><span>104 000</span> ₽</span>
                                span.calculator-form__descr Мы&nbsp;открываем десятки новых АГЗС, расширяем географию доставки сжиженного газа
                            .calculator-form__group
                                p Экономия за 5 лет <span class="number"><span>520 000</span> ₽</span>
                                span.calculator-form__descr Мы&nbsp;открываем десятки новых АГЗС, расширяем географию доставки сжиженного газа
                            .calculator-form__group.calculator-form__group--blue
                                p Срок окупаемости <span class="number"><span>4</span> месяца</span>
                                span.calculator-form__descr Мы&nbsp;открываем десятки новых АГЗС, расширяем географию доставки сжиженного газа
                            button.button.button--green.button--large.calculator-form__submit(type="submit") Начать экономить                         

  section.benefit.section
      .container
        .benefit__top
            .row
                .benefit__separator.col-12.d-flex.align-items-center
                    .col-12.col-lg-6.d-flex
                        h2.section-title.section__title Выгодные предложения
                    .benefit__block-btn.section__left.col-6.d-flex
                            .services-preview__btn-dom.d-flex-gap
                            .services-preview__dots-inner.slider-dots
                .slider.services-preview__slider 
                        ul.slider-wrapper
                            li.col-12.col-xl-12.col-lg-12.hero-slider.d-flex.flex-column.flex-xl-row.flex-lg-column 
                                .benefit__left.col-12.col-xl-7.col-lg-12
                                    h3 Рассрочка                
                                    p Предоставляем рассрочку на&nbsp;установку газобаллонного оборудования на&nbsp;Ваш автомобиль. Предложение действует для физических, а&nbsp;также юридических лиц.
                                    span Внимание! Рассрочка предоставляется только жителям Республики Карелия.
                                .benefit__right.col-12.col-xl-5.col-lg-12     
                                    h4 Условия рассрочки  
                                    ul 
                                        li
                                            +icon("green_arrow")
                                            span Первый взнос всего 8 000 ₽
                                        li
                                            +icon("green_arrow")
                                            span Переплата 0%
                                        li
                                            +icon("green_arrow")
                                            span Остальная сумма в течении 4 месяцев
                                    button.button-page  
                                        span Получить рассрочку
                            li.col-12.col-xl-12.col-lg-12.hero-slider.d-flex.flex-column.flex-xl-row.flex-lg-column 
                                .benefit__left.col-12.col-xl-7.col-lg-12
                                    h3 Рассрочка                
                                    p Предоставляем рассрочку на&nbsp;установку газобаллонного оборудования на&nbsp;Ваш автомобиль. Предложение действует для физических, а&nbsp;также юридических лиц.
                                    span Внимание! Рассрочка предоставляется только жителям Республики Карелия.
                                .benefit__right.col-12.col-xl-5.col-lg-12     
                                    h4 Условия рассрочки  
                                    ul 
                                        li
                                            +icon("green_arrow")
                                            span Первый взнос всего 8 000 ₽
                                        li
                                            +icon("green_arrow")
                                            span Переплата 0%
                                        li
                                            +icon("green_arrow")
                                            span Остальная сумма в течении 4 месяцев
                                    button.button-page  
                                        span Получить рассрочку
                            li.col-12.col-xl-12.col-lg-12.hero-slider.d-flex.flex-column.flex-xl-row.flex-lg-column 
                                .benefit__left.col-12.col-xl-7.col-lg-12
                                    h3 Рассрочка                
                                    p Предоставляем рассрочку на&nbsp;установку газобаллонного оборудования на&nbsp;Ваш автомобиль. Предложение действует для физических, а&nbsp;также юридических лиц.
                                    span Внимание! Рассрочка предоставляется только жителям Республики Карелия.
                                .benefit__right.col-12.col-xl-5.col-lg-12     
                                    h4 Условия рассрочки  
                                    ul 
                                        li
                                            +icon("green_arrow")
                                            span Первый взнос всего 8 000 ₽
                                        li
                                            +icon("green_arrow")
                                            span Переплата 0%
                                        li
                                            +icon("green_arrow")
                                            span Остальная сумма в течении 4 месяцев
                                    button.button-page  
                                        span Получить рассрочку
                            li.col-12.col-xl-12.col-lg-12.hero-slider.d-flex.flex-column.flex-xl-row.flex-lg-column 
                                .benefit__left.col-12.col-xl-7.col-lg-12
                                    h3 Рассрочка                
                                    p Предоставляем рассрочку на&nbsp;установку газобаллонного оборудования на&nbsp;Ваш автомобиль. Предложение действует для физических, а&nbsp;также юридических лиц.
                                    span Внимание! Рассрочка предоставляется только жителям Республики Карелия.
                                .benefit__right.col-12.col-xl-5.col-lg-12     
                                    h4 Условия рассрочки  
                                    ul 
                                        li
                                            +icon("green_arrow")
                                            span Первый взнос всего 8 000 ₽
                                        li
                                            +icon("green_arrow")
                                            span Переплата 0%
                                        li
                                            +icon("green_arrow")
                                            span Остальная сумма в течении 4 месяцев
                                    button.button-page  
                                        span Получить рассрочку
                            li.col-12.col-xl-12.col-lg-12.hero-slider.d-flex.flex-column.flex-xl-row.flex-lg-column 
                                .benefit__left.col-12.col-xl-7.col-lg-12
                                    h3 Рассрочка                
                                    p Предоставляем рассрочку на&nbsp;установку газобаллонного оборудования на&nbsp;Ваш автомобиль. Предложение действует для физических, а&nbsp;также юридических лиц.
                                    span Внимание! Рассрочка предоставляется только жителям Республики Карелия.
                                .benefit__right.col-12.col-xl-5.col-lg-12     
                                    h4 Условия рассрочки  
                                    ul 
                                        li
                                            +icon("green_arrow")
                                            span Первый взнос всего 8 000 ₽
                                        li
                                            +icon("green_arrow")
                                            span Переплата 0%
                                        li
                                            +icon("green_arrow")
                                            span Остальная сумма в течении 4 месяцев
                                    button.button-page  
                                        span Получить рассрочку
  .our-works
    .container 
        .col-12.our-works__top
            .row.our-works__wrapper
                .col-lg-12.col-xl-12.d-flex.px-0
                    h2.section-title Наши работы
            .row
                .our-works__bottom.p-0
                    ul.our-works__list-examples.d-flex.flex-wrap.col-12.col-xl-12
                        li.our-works__button.col-12.col-xl-5.flex-column
                            button.our-works__btn-img
                                img(src="img/auto1.jpg", alt="Фото Mercedes-AMG GT 4-Door Coupé")
                            h3 Mercedes-AMG GT 4-Door Coupé
                        li.our-works__button.col-12.col-xl-5.flex-column
                            button.our-works__btn-img
                                img(src="img/auto2.jpg", alt="Фото Ford Mustang 5.0 AT")
                            h3 Ford Mustang 5.0 AT
                        li.our-works__button.col-12.col-xl-5.flex-column
                            button.our-works__btn-img
                                img(src="img/auto3.jpg", alt="Фото Kia Rio")
                            h3 Kia Rio
                        li.our-works__button.col-12.col-xl-5.flex-column
                            button.our-works__btn-img
                                img(src="img/auto4.jpg", alt="Фото Kia Rio")
                            h3 Lada Granta FL
                    .col-12.p-0.our-works__btn-dom.d-flex.justify-content-center 
                        button.button--bottom.col-5 Показать ещё
  section.trust.trust-gasification
          .container
              .trust__top
                  .row
                      .col-12.d-flex.align-items-center.p-0.justify-content-cente
                          .col-lg-12.col-xl-6.d-flex
                              h2.section-title Почему нам доверяют?
                  .row.trust__wrapper
                    ul.d-flex.align-items-start.justify-content-cente.flex-column.flex-xl-row.flex-lg-column
                        li.col-lg-12.col-xl-4.d-flex.flex-column.trust__green
                            +icon("wallet")
                            h3 Цена
                            p Мы не работаем с посредниками, а работаем "напрямую" с производителями, только это позволяет снижать рыночную цену до 25%
                        li.col-lg-12.col-xl-4.d-flex.flex-column.trust__green
                            +icon("human")
                            h3 Опыт
                            p Мы работаем в газовой отрасли уже более 7 лет. Газ - это просто
                        li.col-lg-12.col-xl-4.d-flex.flex-column.trust__green
                            +icon("safety")
                            h3 Безопасно и надежно
                            p У нас только новая и современная техника и оборудование. Весь транспорт и оборудование регулярно и своевременно проходят техническое обслуживание
  include components/_request
